p, figure {
    margin: 0;
}
.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.text-success {
    color: #26df30;
}
.list-film-count {
    font-size: 12px;
    background: #feefee;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}
#header {
    background: #555;
    color: #fff;
    ul {
        &.menus {
            display: flex;
            align-items: center;
        }
        li {
            a {
                color: #fff;
                padding: 10px 15px;
                display: inline-block;
                text-decoration: none;
                &:hover, &.active {
                    background-color: #ddd;
                    color: #555;
                }
            }
        }
    }
}

.star-ships-container {
    padding: 10px;
    .star-ships-lists {
        display: flex;
        flex-wrap: wrap;

        .star-ship-list {
            flex: 1 0 200px;
            // border: 1px solid #555;
            padding: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #55555536;
            box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
            border-radius: 5px;
            .lists {
                width: calc(100% - 20px);
                .list {
                    display: flex;
                    .list-label {
                        min-width: 100px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
